
@{
    ViewBag.Title = "Resume";
}

<p>
    <h3>Skills</h3>
    <ul>
        <li>Developing front-end web application using HTML5, CSS3, Bootstrap, JavaScript, jQuery, React</li>
        <li>Building back-end web application using Node.js, Express, MongoDB, Mongoose, PHP, Laravel, MySQL</li>
        <li>Problem solving, Data structures and Algorithms</li>
        <li>Using LINUX command line</li>
        <li>Building REST API</li>
    </ul>
</p>
<p>
    <h3>Qualities</h3>
    <ul>
        <li>Time management</li>
        <li>Team work</li>
        <li>Problem solving</li>
        <li>Adaptability</li>
        <li>Communication</li>
    </ul>
</p>
<p>
    <h3>Education</h3>
    <ul>
        <li>
            B.Sc in Computer Science Engineering <br />
            American International University-Bangladesh <br />
            2018 - Present 
        </li>
        <li>
            Edexcel IGCSE A'level <br />
            Methodist English Medium School <br />
            2015 - 2017
        </li>
        <li>
            Edexcel IGCSE O'level <br />
            Methodist English Medium School <br />
            2014 - 2015
        </li>
    </ul>
</p>
<p>
    <h3>Interests</h3>
    <ul>
        <li>Coding</li>
        <li>Playing cricket</li>
        <li>Spending time with family and friends</li>
        <li>Watching Movies</li>
        <li>Playing games</li>
    </ul>
</p>
