@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title.</h3>

<address>
    Mirpur-1 Dhaka, Bangladesh<br />
    <abbr title="Phone">P:</abbr>
    +8801768385687
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:shahedchowdhury120@gmail.com">shahedchowdhury120@gmail.com</a><br />
</address>