@{
    ViewBag.Title = "Projects";
}

<p>
    <h3>@ViewBag.Title</h3><hr />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <a target="_blank" style="padding: 32px; width: 100%" href="https://github.com/Shahed1998/Varsity-projects" class="btn btn-primary">Varsity projects</a>
            </div>
            <div class="col-lg-3">
                <a target="_blank" style="padding: 32px; width: 100%" href="https://shaheds-digital-clock.netlify.app/" class="btn btn-primary">Digital clock</a>
            </div>
            <div class="col-lg-3">
                <a target="_blank" style="padding: 32px; width: 100%" href="https://shahed-weather-app.herokuapp.com/" class="btn btn-primary">Weather app</a>
            </div>
            <div class="col-lg-3">
                <a target="_blank" style="padding: 32px; width: 100%" href="https://shahed1998.github.io/Count_Primes/" class="btn btn-primary">Count prime</a>
            </div>
        </div>
        <div class="row" style="margin-top:16px;">
            <div class="col-lg-3">
                <a target="_blank" style="padding: 32px; width: 100%" href="https://shahed1998.github.io/Calculator/" class="btn btn-primary">Calculator</a>
            </div>
            <div class="col-lg-3">
                <a target="_blank" style="padding:32px; width: 100%" href="https://shahed1998.github.io/Give-Treat/" class="btn btn-primary">Give treat</a>
            </div>
           
        </div>
    </div>
</p>

